mat-card {
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}
/* Style cho form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Style cho tiêu đề */

/* Style cho nội dung dialog */
div[mat-dialog-content] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

/* Style cho label */
label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}
button {
  margin: 6px;
}

.error {
  padding: 7px;
  width: 330px;
  color: red;
  font-size: 12px;
}

button[type="submit"] {
  font-weight: bold;
  margin-left: 220px;
  margin-top: 20px;
  /* Blue color */

}
